/*EEEEEE blanco
FFD369 amarillo
393E46 gris
222831 negro*/
* {
    box-sizing: border-box;
}

body {
    background-color: #393E46;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/*NAV -----------------------------------------------------------*/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: #222831;
    color: #FFD369;
}

.titulo h1 {
    font-size: 35px;
    font-weight: 600;
}

span {
    font-weight: 1;
}

.items ul {
    display: flex;
    float: right;
    list-style: none;
}

.items ul li {
    margin: auto;
    padding: 20px 30px;
    border-bottom: solid 2px transparent;
}

.items ul li:hover{
    border-bottom: solid 2px #FFD369;
}

.items ul li a {
    text-decoration: none;
    font-weight: 400;
    color: #FFD369;
}

/*CUERPO ------------------------------------------------------------*/

.wrapper {
    width: 90%;
    margin: auto;
}

.presentacion {
    color: #FFD369;
    height: 100vh;
    padding-top: 40vh;
    font-weight: 300;
    font-size: 26px;
}

.presentacion h1 {
    font-weight: 600;
}

.sponsors_wrapper p {
    font-size: 1rem;
    margin-top: 16rem;
    text-align: center;
    font-weight: 100;
}

.sponsors {
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    margin-top: 2rem;
}

.bitwage {
    margin-top: 0.5rem;
}

.hostinger {
    margin-top: 0.8rem;
}

.sponsors a {
    text-decoration: none;
    transition-duration: .5s;
}

.sponsors img {
    width: 8rem;
}

.sponsors a:hover {
    transform: translateY(1rem)
}

.arc {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 500;
}

.titulo_mes {
    background-color: #FFD369;
    border-radius: 2px;
    padding: 5px 30px;
    color: #222831;
}

.mes {
    color: #FFD369;
    padding-top: 10rem;
    margin-bottom: 5rem;
}

.mes a {
    color: #FFD369;
    text-decoration: none;
    font-weight: 600;
}

.mes article{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 5rem;
    padding: 0 30px;
    border: solid 2px #FFD369;
    border-top: none;
}

.tecnologias {
    display: flex;
    gap: 1rem;
}

.tecnologias i {
    font-size: 3rem;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

.desafios {
    border-left: 2px solid #FFD369;
    padding-left: 30px;
}



/*FOOTER--------------------------------------------------------------*/

footer {
    background-color: #222831;
    margin: auto;
    padding: 2rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    font-size: 2rem;
}

footer a {
    color: #FFD369;
}

footer p {
    display: flex;
    justify-content: center;
    color: #FFD369;
}

footer p i {
    margin: 0.3rem 0.3rem 0 0.3rem;

}



/*MEDIA QUERIES ----------------------*/

@media (max-width: 1050px) {

    /*NAV -----------------------------------------------------------*/

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
        position: fixed;
        width: 100%;
        z-index: 100;
        background-color: #222831;
        color: #FFD369;
    }

    .titulo h1 {
        font-size: 1.1rem;
        font-weight: 600;
    }


    .items ul {
        display: none;
    }



    /*CUERPO ------------------------------------------------------------*/

    .presentacion {
        height: 100vh;
        padding-top: 30vh;
        font-weight: 300;
        font-size: 1.3rem;
    }
    
    .presentacion h1 {
        font-weight: 600;
    }

    .presentacion p {
        font-size: 1rem;
    }


    .sponsors_wrapper p {
        font-size: 0.8rem;
        margin-top: 8rem;
        text-align: center;
        font-weight: 100;
    }
    
    .sponsors {
        display: flex;
        justify-content: center;
        gap: 1rem;
        align-items: center;
        margin-top: 1rem;
    }
    
    .bitwage {
        margin-top: 0.2rem;
    }
    
    .arc {
        margin-top: 0.4rem;
    }

    .hostinger {
        margin-top: 0.4rem;
    }
    
    .sponsors a {
        text-decoration: none;
        transition-duration: .5s;
    }
    
    .sponsors img {
        width: 4rem;
    }
    
    .sponsors a:hover {
        transform: translateY(1rem)
    }
    
    .arc {
        font-size: 0.8rem;
        color: #fff;
        font-weight: 500;
    }

    
    .titulo_mes {
        background-color: #FFD369;
        border-radius: 2px;
        padding: 0.05rem 1.5rem;
        color: #222831;
        font-size: 0.8rem;
    }

    .mes {
        color: #FFD369;
        padding-top: 2rem;
        margin-bottom: 1rem;
        font-size: 0.8rem;
    }


    .mes article{
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 0.5rem;
        padding: 0 30px;
        border: solid 2px #FFD369;
        border-top: none;
    }


    .desafios {
        border-left: none;
        padding-left: 0;
        padding: 0.5rem;
        border-top: solid 1px #FFD369;
    }


    .tecnologias {
        display: flex;
        gap: 1rem;
        font-size: 0.8rem;
    }
    
    .tecnologias i {
        font-size: 2rem;
    }
    
    h3 {
        font-size: 1rem;
    }
    
    h4 {
        font-size: 0.8rem;
    }
   

    /*FOOTER--------------------------------------------------------------*/

footer {
    background-color: #222831;
    margin: auto;
    padding:  0.6rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.5rem;
    font-size: 1rem;
}

footer a {
    color: #FFD369;
}

footer p {
    display: flex;
    justify-content: center;
    color: #FFD369;
    font-size: 0.6rem;
}

footer p i {
    margin: 0.2rem 0.3rem 0 0.3rem;

}

}