.exterior {
    background: black;
    width: 800px;
    height: 800px;
    margin: auto;
    border-radius: 50%;
    display: flex;
    align-content: center;
}


.interior {
    background-color: white;
    width: 750px;
    height: 750px;
    margin: auto;
    border-radius: 50%;
    display: flex;
    align-content: center;
    position: relative;
}

h1 {
    position: absolute;
    font-size: 50px;
}

.doce {
    left: 48%;
}

.tres {
    left: 93%;
    top: 42%;
}

.seis {
    left: 48%;
    top: 83%;
    
}

.nueve {
    left: 5%;
    top: 42%;
}

.centro {
    background-color: black;
    width: 50px;
    height: 50px;
    margin: auto;
    border-radius: 50%;
    position: relative;
}

.aguja1 {
    background-color: black;
    width: 300px;
    height: 10px;
    border-radius: 20%;
    position: absolute;
    top: 35%;
    left: 10%;
}

.aguja2 {
    background-color: black;
    width: 200px;
    height: 10px;
    border-radius: 20%;
    position: absolute;
    top: 200%;
    left: -15%;
    transform: rotate(50deg);
}